<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Documentor Tests">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
      <whitelist>
        <directory suffix=".php">./src/classes/</directory>
        <exclude>
            <file>./src/classes/Laravel/DocumentorServiceProvider.php</file>
            <directory>./src/classes/Laravel/Facades/</directory>
        </exclude>
      </whitelist>
    </filter>

</phpunit>
